<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blogging App</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div>
        <h1>
            Home page
        </h1>

    </div>
    <%- include('./partials/script') %>
</body>
</html>