<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Blogging App</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <%= JSON.stringify(user)%>
    <%- include('./partials/script') %>
</body>
</html>