<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>SignIn</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container">
        <form action="/user/signin" method="post">
            <label>SignUp page</label>
            <input type="email" placeholder="Enter your email"/>
            <input type="password" placeholder="password"/>
            <button>signin</button>
        </form>
        
    </div>
    <%- include('./partials/script') %>
</body>
</html>